@import '../sass-variables';
@import '../universal_classes';
@import '../mixins';
@import '../../../node_modules/susy/sass/susy';
@import '../susy_grid';

.rightColumn {
  @include span(5 last);
  float: left;
  background: $paper_background;
  border-top: 5px solid $background;
  border-right: 5px solid $background;
  border-bottom: 5px solid $alt_background;
  border-left: 5px solid $alt_background;
  background-clip: content-box;
  padding: 10px;
}

@include breakpoint(mobile) {

  .rightColumn {
    @include span(12 last);
  }

}

.rightColumnForm {
  display: flex;
  flex-direction: column;
}

.rightColumnFormInput {
  border: none;
  font-size: 1.8em;
  width: 98%;
  margin: 0 1% 5px 1%;
  height: 35px;
  line-height: 35px;
  padding: 0 2px;
  color: lighten($black, 5%);
}

.rightColumnFormSearch {
  border: none;
  font-size: 1.8em;
  margin: 0 1% 10px 1%;
  height: 30px;
  line-height: 30px;
  color: $white;
  flex: 0 1 content;
  align-self: flex-end;
  background: $dark;
  border-radius: 0;
}

.rightColumnIntroduction {
  display: block;
}

h1 {
  @include font-calculator($font_family_one, 60px, 1.5);
  white-space: nowrap;
  margin-left: 1%;
  margin-right: 1%;
}

@include breakpoint(tablet) {
  h1 {
    @include font-calculator($font_family_one, 55px, 1.5);
  }
}

h2 {
  @include font-calculator($font_family_one, 26px, 1);
  margin-left: 1%;
  margin-right: 1%;
}

p {
  @include font-calculator($font_family_two, 18px, .5);
  font-weight: 400;
  margin-left: 1%;
  margin-right: 1%;
}

.RightColumnVisuallyHidden {
  @extend %visuallyhidden;
}

.RightColumnClearfix {
  @extend %clearfix;
}