@import '../variables';
@import '../sass-variables';
@import '../universal_classes';
@import '../reset';
@import '../mixins';
@import '../../../node_modules/susy/sass/susy';
@import '../susy_grid';

body {
  font-size: 62.5%;
  line-height: 2em;
  background: $background;
  color: $text;
  font-family: $font_family_two;
}

@include breakpoint('mobile') {

  body {
    font-size: 56.3%;
    line-height: 2em;
  }

}

.wrapper {
  @include container(960px);
  background-image: $background_image;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  min-height: 970px;
  margin-top: 20px;
}

@include breakpoint(tablet) {

  .wrapper {
    @include container(auto);
    min-height: calc(100vh - 20px);
  }

}

@include breakpoint(mobile) {

  .wrapper {
    background-image: none;
  }

}

.AppClearfix {
  @extend %clearfix;
}
/*
 * Browser upgrade prompt
 * ========================================================================== */

.browserupgrade {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}